<div *ngIf="scannerClaimedBy"
  style="background-color: #f44336; color: white; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
  <span><strong>SCANNER CLAIMED BY: {{scannerClaimedBy}}</strong></span>
  <button mat-raised-button color="accent" (click)="forceReleaseScanner()">STOP CLAIM</button>
</div>

<mat-toolbar [color]="scannerClaimedBy ? 'warn' : 'primary'">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon *ngIf="isSocketConnected$ | async" class="small-icon ms-2" title="Connected to Backend"
    style="font-size: 1.2rem; height: 1.2rem; width: 1.2rem; opacity: 0.7;">cloud_done</mat-icon>
  <a [routerLink]="['/']">{{title}}</a>
  <span class="example-spacer"></span>
  <a mat-icon-button [routerLink]="['/barcode/scanner']">
    <mat-icon>qr_code_scanner</mat-icon>
  </a>
  <ng-container *ngIf="isAuthenticated | async; else loginButton">
    <a mat-icon-button [routerLink]="['/profile']">
      <mat-icon>person</mat-icon>
    </a>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <a mat-icon-button [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </a>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container style="flex-grow: 1;">
  <mat-sidenav #sidenav>
    <app-side-menu (linkClicked)="sidenav.close()"></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [class.container]="!isFullWidth" [class.container-fluid]="isFullWidth"
      [style.padding]="isFullWidth ? '0' : ''">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>