<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">{{title}}</a>
  <span class="example-spacer"></span>
  <a mat-icon-button [routerLink]="['/roadmap']">
    <mat-icon>lightbulb</mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/search']">
    <mat-icon>search</mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/barcode/scanner']">
    <mat-icon>qr_code_scanner</mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/settings']">
    <mat-icon>settings</mat-icon>
  </a>
  <ng-container *ngIf="isAuthenticated | async; else loginButton">
    <a mat-icon-button [routerLink]="['/profile']">
        <mat-icon>person</mat-icon>
    </a>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <a mat-icon-button [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </a>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container style="flex-grow: 1;">
  <mat-sidenav #sidenav>
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
