<div>
    <h1>Recipes</h1>
    <a mat-raised-button [routerLink]="['/recipes', 'create']">Create Recipe</a>
</div>

<div class="list-group">
    <a [routerLink]="['/recipes', recipe.id, 'edit']" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let recipe of recipes; track recipe">
        <div class="d-flex w-100 justify-content-between">
            <div class="w-100">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{recipe.title}}</h5>
                </div>
                <div class="w-100">
                    <span matListItemLine>{{recipe.description}}</span>
                </div>
            </div>
        </div>
    </a>
</div>
