version: '2'

services:
  pantry-api:
    image: klschaefer/pantry-api:latest
    pull_policy: always
    ports:
      - 4300:4300
    env_file:
      - stack.env
    environment:
      - DEFAULT_ADMIN_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
    volumes:
      - pantry_data:/app/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  pantry-ui:
    image: klschaefer/pantry-ui:latest
    pull_policy: always
    ports:
      - 4200:80
    environment:
      - API_BASEURL=${API_BASEURL}
      - SITE_TITLE=${SITE_TITLE}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  wyoming-whisper:
    image: rhasspy/wyoming-whisper
    ports:
      - 10300:10300
    volumes:
      - pantry_whisper:/data
    command: --model tiny --language en

volumes:
  pantry_data:
  pantry_whisper:
