<form *ngIf="recipe">
    <div class="row">
        <mat-form-field>
            <mat-label>Recipe Title</mat-label>
            <input name="title" matInput [(ngModel)]="recipe.title" />
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea name="description" matInput [(ngModel)]="recipe.description"></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Prep Time</mat-label>
                <input name="prepTime" matInput [(ngModel)]="recipe.prepTime">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Cook Time</mat-label>
                <input name="cookTime" matInput [(ngModel)]="recipe.cookTime">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Total Time</mat-label>
                <input name="totalTime" matInput [(ngModel)]="recipe.totalTime">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Yield</mat-label>
                <input name="yield" matInput [(ngModel)]="recipe.yield">
            </mat-form-field>
        </div>
    </div>

    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="delete()">Delete</button>
</form>
