<h1>Roadmap and ideas</h1>

<ul>
    <li>
        Core
        <ul>
            <li>Product search</li>
            <li>Settings management</li>
            <li>Tagging</li>
            <li>Fridge-to-freezer expiration handling</li>
            <li>Freezer-to-fridge expiration handling</li>
            <li>Open item expiration handling</li>
        </ul>
    </li>
    <li>Arduino-based scale to handle updating weights of product automatically</li>
    <li>Integration with <a href="https://usetrmnl.com/">trmnl</a> for refrigerator-friendly display</li>
    <li>Raspberry Pi-based kiosk with barcode scanner and display</li>
    <li>Well-documented API</li>
    <li>Integration with Home Assistant</li>
    <li>Integration with Mealie (associate Mealie ingredients with Pantry Products, create meal plans, etc...)</li>
    <li>Integration with existing shopping list?</li>
</ul>