<form *ngIf="product">
    <div class="row">
        <mat-form-field>
            <mat-label>Product Title</mat-label>
            <input name="title" matInput [(ngModel)]="product.title" />
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Freezer Lifespan in Days</mat-label>
                <input name="freezerLifespanDays" matInput [(ngModel)]="product.freezerLifespanDays">
                <mat-hint>Once an item is frozen, how many days is it good?</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Refrigerator Lifespan in Days</mat-label>
                <input name="refrigeratorLifespanDays" matInput [(ngModel)]="product.refrigeratorLifespanDays">
                <mat-hint>Once an item is removed from the freezer, how many days is it good?</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-label>Opened Lifespan in Days</mat-label>
                <input name="openedLifespanDays" matInput [(ngModel)]="product.openedLifespanDays">
                <mat-hint>Once an item is opened, how many days is it good?</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Barcodes">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Barcodes
                        <button mat-icon-button (click)="addBarcode()"><mat-icon>add</mat-icon></button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    
            @for(barcode of product.ProductBarcodes; track barcode.barcode) {
                <div class="row">
                    <div class="col-sm-3">
                        <mat-form-field>
                            <mat-label>Barcode</mat-label>
                            <input [name]="'barcode-' + $index" class="barcode-input" matInput [(ngModel)]="barcode.barcode">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label>Brand</mat-label>
                            <input [name]="'brand-' + $index" matInput [(ngModel)]="barcode.brand">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input [name]="'description-' + $index" matInput [(ngModel)]="barcode.description">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                        <button mat-icon-button matSuffix (click)="removeBarcode(barcode)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-tags></app-tags>
                    </div>
                </div>
                }
                </mat-card-content>
        
            </mat-card>

        </mat-tab>
        <mat-tab label="Product Images">
            <div *ngIf="product" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4">
                <mat-card appearance="outlined" *ngFor="let file of product.Files" class="col">
                    <mat-card-header class="text-truncate">
                        <mat-card-title>{{file.filename}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="object-fit-contain" style="height: 200px;" [src]="GetFileDownloadUrl(file.id)">
                    <mat-card-actions>
                        <button mat-icon-button (click)="removeImage(file)"><mat-icon>delete</mat-icon></button>
                        <a href="GetFileDownloadUrl(file.id)" mat-icon-button><mat-icon>download</mat-icon></a>
                    </mat-card-actions>
                </mat-card>
                <mat-card appearance="outlined" class="col">
                    <input type="file" multiple (change)="browsedFiles($event)" [(ngModel)]="inputValue" />

                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="row">
        <div class="col-md-8">

        </div>

        <div class="col-md-4">

        </div>
    </div>

    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="delete()">Delete</button>
</form>

<div>
</div>