<div *ngIf="gitInfo">
  <h1>Git Information</h1>

  <h2>Latest Commit</h2>
  <p>{{ gitInfo.latest_commit }}</p>

  <h2>Recent Merges</h2>
  <table>
    <thead>
      <tr>
        <th>Hash</th>
        <th>Subject</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let merge of gitInfo.merges">
        <td>{{ merge[0] }}</td>
        <td>{{ merge[1] }}</td>
        <td>{{ merge[2] }}</td>
        <td>{{ merge[3] }}</td>
      </tr>
    </tbody>
  </table>
</div>
