<mat-card>
  <mat-card-header>
    <mat-card-title>Quick Label</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Label Text</mat-label>
      <input matInput [(ngModel)]="label_text">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" (click)="printLabel()">Print Label</button>
    </div>

    <h3>Presets</h3>
    <button mat-stroked-button (click)="setOpenedOn()">Opened On</button>

  </mat-card-content>
</mat-card>
