.container {
  display: flex;
}

.menu {
  width: 200px;
  padding-right: 20px;
  border-right: 1px solid var(--bs-border-color);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--bs-body-color);
}

.menu ul li a:hover {
  background-color: var(--bs-tertiary-bg);
}

.content {
  padding-left: 20px;
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--bs-border-color);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--bs-secondary-bg);
}

code {
  background-color: var(--bs-tertiary-bg);
  padding: 5px;
  border-radius: 3px;
}