.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5em;
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}
