<mat-form-field class="example-chip-list">
  <mat-label>Category Tags</mat-label>
  <mat-chip-grid #chipGrid aria-label="Tag selection">
    @for (tag of barcode.Tags; track tag) {
      <mat-chip-row (removed)="remove(tag)">
        {{tag.tagname}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag.tagname">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input placeholder="New Tag..."
         #tagInput
         [formControl]="tagCtrl"
         [matAutocomplete]="auto"
         [matChipInputFor]="chipGrid"
         />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)">
    @for (tag of filteredTags | async; track tag) {
      <mat-option [value]="tag">{{tag.tagname}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>