<h1>Tags editor</h1>

<mat-card *ngFor="let tag of tags">
    <mat-card-header>
        <mat-card-title>
            {{tag.group.display}}
            <button mat-icon-button (click)="addTag(tag)"><mat-icon>add</mat-icon></button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let tagItem of tag.tags; track tagItem">
            <mat-form-field>
                <input matInput [(ngModel)]="tagItem.tagname">
                <button mat-icon-button matSuffix (click)="removeTagItem(tag, tagItem)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>