<div>
    <h1>Products</h1>

    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Area</mat-label>
                <mat-select>
                    <mat-option>-- None --</mat-option>
                    <mat-option value="0">All</mat-option>
                    <mat-divider></mat-divider>
                    <mat-option value="1">Pantry</mat-option>
                    <mat-option value="2">Freezer</mat-option>
                    <mat-option value="3">Refrigerator</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Sort</mat-label>
                <mat-select [(value)]="selectedSortOption">
                    <mat-option value="expire">Expiring Soon</mat-option>
                    <mat-option value="alphabetical">Alphabetical</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Search</mat-label>
                <input name="searchbox" class="barcode-input" (keyup.enter)="refreshList()" matInput
                    [(ngModel)]="searchTerm" />
                <button mat-icon-button matSuffix (click)="refreshList()"><mat-icon>search</mat-icon></button>
                <mat-hint>Enter your search here</mat-hint>
            </mat-form-field>
        </div>
    </div>




    <mat-button-toggle-group name="displayMode" [(ngModel)]="DisplayMode">
        <mat-button-toggle value="grid">
            <mat-icon>grid_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list">
            <mat-icon>list_view</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <a mat-raised-button [routerLink]="['/products', 'create']">Create Product</a>
    <button mat-raised-button (click)="openPhotoUploadDialog()"><mat-icon>add_a_photo</mat-icon> Add by Photo</button>

</div>


<div class="list-group" *ngIf="DisplayMode === 'list'">
    <a [routerLink]="['/products', product.id]" class="list-group-item list-group-item-action" aria-current="true"
        *ngFor="let product of products; track product">
        <div class="d-flex w-100 justify-content-between">
            <img style="max-height: 75px;" matListItemAvatar [src]="GetFileDownloadUrl(product)">
            <div class="w-100">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{product.title}}</h5>
                    <small *ngIf="product.totalQuantity">{{product.totalQuantity}} in stock</small>
                </div>
                <div class="w-100">
                    <span matListItemLine *ngIf="product.minExpiration !== undefined">
                        {{product.quantityExpiringSoon}}
                        expiring on
                        {{product.minExpiration | date}}
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="row" *ngIf="DisplayMode === 'grid'">
    <div class="col-sm-12">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 rows-cols-lg-8">
            <mat-card appearance="outlined" *ngFor="let product of products" class="col">
                <mat-card-header class="text-truncate">
                    <mat-card-title>
                        {{product.title}}
                        <a class="stretched-link" [routerLink]="['/products', product.id]"></a>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <ng-container *ngIf="product.minExpiration !== undefined">
                            <small>{{product.quantityExpiringSoon}} exp on {{product.minExpiration | date}}</small>
                        </ng-container>
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="object-fit-contain" style="height: 125px;"
                    [src]="GetFileDownloadUrl(product)">
                <!--<mat-card-actions>
                    <button mat-icon-button (click)="removeImage(file)"><mat-icon>delete</mat-icon></button>
                    <a href="GetFileDownloadUrl(file.id)" mat-icon-button><mat-icon>download</mat-icon></a>
                </mat-card-actions>-->
            </mat-card>
        </div>
    </div>
</div>

<button mat-fab class="quick-snack-fab" color="accent" (click)="openQuickSnack()">
    <mat-icon>lunch_dining</mat-icon>
</button>